bin/
etc/
src/_build/
src/config.ml
dist/*.tar.bz2
!dist/ocamlcc-1.0.tar.bz2
tests/a.out
tests/*.byte
tests/*.cmi
tests/*.cmo
tests/*.cmx
tests/*.native
tests/*.o
tests/*.c
tests/*-nxc
tests/*-i386
tests/*-i486
tests/*-i586
tests/*-i686
tests/*-x86_64
tests/extexn
tests/fact
tests/fibo
tests/funs
tests/hw
tests/levenshtein
tests/loop
tests/nucleic
tests/okb
tests/osolilet
tests/printfhw
tests/takc
tests/termtrap
tests/ocamlc
tests/flocon
tests/wscope
trash/
